name: Frontend CI

on:
  push:
    paths:
      - "Cab-Connect-Frontend/**"
  pull_request:
    paths:
      - "Cab-Connect-Frontend/**"

jobs:
  frontend-ci:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: Cab-Connect-Frontend

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: "1.3.4"

      - name: Install deps
        run: bun install --frozen-lockfile

      - name: Lint
        run: bun run lint

      - name: Build
        run: bun run build
